
body{
	text-align:center;	
	background-color:#5f4c8b;
	margin-top: 5%;

}
.login-page {
	width: 35%;
	padding: 4% 0 0;
	margin: auto;
    padding: 40px ;
	font-size: 40px;
}

.form{
	position:static;
	z-index: 1;
	background: #c54b4b;
	max-width: 360px;
	margin: 0 auto 100px;
	padding: 50px;
	border-radius: 15px;
   
}
p{
	color: #195242;
}
.btn:hover{
    background-color: rgb(171, 109, 109);
}
.btn{
    margin-left: 10px;
}